
@{
    ViewData["Title"] = "Register";
}
@using userdb.Models
@model userdb.Models.UserInformationViewModel
<hr />
<div class="container wells wells-sm">
    <div class="row">
        <div class="col-sm-7">
            <div class="panel panel-default edit-profile">
                <div class="panel-heading">Edit Information</div>
                <div class="panel-body">
                    <form asp-controller="User" asp-action="UpdateUser" method="post">
                        <input type="hidden" name="UserId" value="@ViewBag.User.UserId">
                        <div class="form-horizontal">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <div class="form-group">
                                <label asp-for="FirstName" class="col-md-2 control-label"></label>
                                <div class="col-md-10">
                                    <input asp-for="FirstName" class="form-control" />
                                    <span asp-validation-for="FirstName" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label asp-for="LastName" class="col-md-2 control-label"></label>
                                <div class="col-md-10">
                                    <input asp-for="LastName" class="form-control" />
                                    <span asp-validation-for="LastName" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label asp-for="Email" class="col-md-2 control-label"></label>
                                <div class="col-md-10">
                                    <input asp-for="Email" class="form-control" />
                                    <span asp-validation-for="Email" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label asp-for="Level" class="col-md-2 control-label"></label>
                                <div class="col-md-10">
                                    <select asp-for="Level" class="form-control">
                                        @{ var Admin = @ViewBag.User.UserId == 1 ? "Selected" : ""; }
                                        @{ var Normal = @ViewBag.User.UserId == 2 ? "Selected" : ""; }
                                        <option value="1" @Admin>Admin</option>
                                        <option value="2" @Normal>Normal</option>
                                    </select>
                                    <span asp-validation-for="Level" class="text-danger"></span>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-md-offset-2 col-md-10">
                                    <input type="submit" value="Update" class="btn btn-default" />
                                </div>
                            </div>
                        </div>

                    </form>
                </div>
            </div>
        </div>

@Html.Partial("EditPasswordPartial", (UserPasswordViewModel)@ViewBag.Password)

    </div>
</div>

@if(ViewBag.ShowDescription) {
<div class="container wells wells-sm">
    <div class="row">
        <div class="panel panel-default edit-profile">
            <div class="panel-heading">Edit Description</div>
            <div class="panel-body">
                <form asp-controller="User" asp-action="UpdateDescription" method="post">
                    <input type="hidden" name="UserId" value="@ViewBag.User.UserId">
                    <div class="form-horizontal">
                        
                        <div class="form-group">
                            <div class="col-md-10">
                                <textarea name="Description" id="Description" cols="30" rows="10">@ViewBag.User.Description</textarea>
                            </div>
                        </div>
                        
                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <input type="submit" value="Save" class="btn btn-default" />
                            </div>
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>  
}